@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<div class='container'>
    <div class="content-section">
        <div class="col-4">

        </div>


        <div class="col-4">
            <form method="Post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group ">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Have An Account? <a class="ml-2" asp-action="Login" asp-controller="Account">Sign In Now</a>
                    </small>
                </div>

            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>





